.App {
  /* text-align: right; */
}
/* a{
  padding: 5px 0px;
  text-decoration: none;
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.loginGrid{
  background: rgb(2,0,36);
background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(9,11,121,1) 30%, rgba(0,212,255,1) 100%);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}
.loginBG{
  /* background: url(../img/desc.jpg); */
  background-position: center;
  height: 100vh;
  min-height: 600px;
  /* background-size: cover; */
}
.loginHelp p{
  font-size: small;
  cursor: pointer;
}
.MuiInputBase-root{
  font-size: .9rem !important;
}
